DBSTRING=
EXAM_YEAR=2026
NODE_ENV=development
PORT=5000


# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=30d

# Admin seed credentials
ADMIN_EMAIL=admin@scorecardplatform.ng
ADMIN_PASSWORD=Admin@12345

# Result checking token prefix
RESULT_TOKEN_PREFIX=JAM

# File upload
MAX_FILE_SIZE_MB=5
UPLOAD_PATH=./uploads

# App
APP_NAME=SCORECARD Examination Platform
APP_URL=http://localhost:5000